.about {
  background: url('../img/divider-1.png') top center no-repeat;
  padding: 9.375rem 0 6.25rem;

  &__inner {
    display: grid;
    align-items: center;
    grid-template-columns: 7fr 6fr;
    gap: 8.125rem;
  }

  &__video {
    display: flex;
    position: relative;
    margin-bottom: 2.5rem;

    iframe {
      max-width: 100%;
    }

    &::before,
    &::after {
      border: 1px solid $accent-color;
      position: absolute;
      content: '';
      left: 140px;
      top: 70px;
      right: -25px;
      bottom: -25px;
      z-index: -1;
      transition: margin $transition;
    }

    &::after {
      left: 136px;
      top: 66px;
      right: -29px;
      bottom: -29px;
    }

    @include hover {
      &::before,
      &::after {
        margin: -10px;
      }
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
  }

  &__title {
    margin-bottom: 3.125rem;
  }

  &__subtitle {
    margin-bottom: 1.25rem;
    text-transform: uppercase;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  &__text {
    margin-bottom: 3.4375rem;
    line-height: 1.4;
    font-size: 1.125rem;
  }

  &__link {
    font-family: $font-secondary;
    display: inline-block;
    padding-left: 4.375rem;
    background-position: left bottom;
    background-repeat: no-repeat;
    background-size: 2.8125rem;
    font-size: 1.25rem;
    text-transform: uppercase;
    margin-top: auto;
    transition: $transition;

    span {
      border-bottom: 1px solid $black-color;
    }

    @include hover {
      background-position: left 0.9375rem center;
      color: $red-color;
      span {
        border-color: $red-color;
      }
    }
  }
}

.about-info {
  padding: 1.25rem 0 8.125rem;

  &__list {
    @include grid(3, 6.25rem);
    padding-bottom: 3.75rem;
    justify-content: center;
  }

  &__item {
    padding-top: 3.4375rem;
    background: url('../img/quotes-icon.png') top center no-repeat;

    p {
      @include mb(1.875rem);
    }
  }

  &__footer {
    background: url('../img/about-info-bg.png') top -50px center no-repeat;
    min-height: 640px;
    padding-top: 290px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  &__title {
    font-size: 2.75rem;
    margin-bottom: 1.25rem;
    span {
      font-size: 2.1875rem;
    }
  }

  &__subtitle {
    font-size: 1.5rem;
    margin-bottom: 2.8125rem;
    text-transform: uppercase;
    p {
      @include mb(0.3125rem);
    }
  }

  &__decor {
    font-size: 2.8125rem;
    letter-spacing: 0.7em;
  }
}

@media screen and (max-width: 1280px) {
  .about {
    &__inner {
      gap: 70px;
    }
  }
}

@media screen and (max-width: 1024px) {
  .about {
    background-size: contain;
		padding: 5rem 0;
  }
	.about-info {
		padding-bottom: 4rem;
		&__footer {
			min-height: auto;
		}
		&__list {
			gap: 40px;
		}
		&__subtitle {
			line-height: 1.2;
			font-size: 1.25rem;
		}
	}
}
@media screen and (max-width: 768px) {
  .about {
    &__video {
      &::before {
        left: 80px;
        top: 50px;
				right: -4px;
      }

      &::after {
        left: 76px;
        top: 46px;
				right: -8px;
      }
    }
    &__inner {
      display: flex;
      align-items: flex-start;
      gap: 0;
      flex-direction: column-reverse;
    }
    &__content {
			margin-bottom: 5rem;
    }
  }
}

@media screen and (max-width: 600px) {
	.about-info {
    padding-bottom: 3rem;
    &__decor {
      font-size: 2.2rem;
    }
		&__list {
			display: block;
			li {
				@include mb(25px);
			}
			p {
				@include mb(15px);
			}
		}
	}
}