.apartments {
  &__item {
    position: relative;

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 420px;
    padding: 40px 0;

    &:last-child::after {
      display: none;
    }

    &::before {
      position: absolute;
      content: '';
      inset: 0;
      background: rgba(#000, 0.6);
      transition: opacity $transition;
      opacity: 0;
      z-index: 3;
    }

    &::after {
      position: absolute;
      content: '';
      width: 2.3125rem;
      height: 2.375rem;
      background: url('../img/cube-icon.png') center / 2.3125rem no-repeat;
      bottom: -1.1875rem;
      left: 50%;
      transform: translateX(-50%);
      z-index: 6;
    }

    @include hover {
      &::before {
        opacity: 1;
      }
    }
  }

  &__link {
    @include flex-center;
    position: absolute;
    inset: 0;
    z-index: 4;
    padding: 0 15px;
  }

  &__name {
    padding: 0.625rem 0.9375rem;
    font-size: 1.25rem;
    font-family: $font-secondary;
    border-radius: 5px;
    border: 5px solid $white-color;
    background-color: #eddbd0;
    max-width: 530px;
    margin: 0 auto;
    text-align: center;
    transition: box-shadow $transition;

    @include hover {
      box-shadow: 2px 2px 15px $accent-color;
    }

    span {
      border-bottom: 1px solid $black-color;
    }
  }
}

@media screen and (max-width: 1024px) {
  .apartments {
    &__item {
      min-height: 300px;
    }
  }
}


