.benefits {
	padding: 6.25rem 0;

	&__title {
		margin-bottom: 6.25rem;
	}

	&__list {
		@include grid(3, 4rem);
	}

	&__item {
		font-size: 1.0625rem;
		max-width: 21.875rem;
		position: relative;
		line-height: 1.3;
		padding-left: 45px;
		transition: $transition;

		@include hover {
			color: #b0958a;
			&::before {
				transform: rotate(180deg);
			}
		}

		&::before {
			position: absolute;
			content: "";
			left: 0;
			top: 6px;
			width: 15px;
			height: 21px;
			background: url('../img/benefits-list-bullet.png') left top / 15px no-repeat;
			transition: transform $transition;
		}

		&::after {
			position: absolute;
			content: "";
			height: 75px;
			top: 6px;
			left: 30px;
			width: 1px;
			background-color: #e6ceb1;
		}
	}
}

@media screen and (max-width: 1024px) {
	.benefits {
		&__list {
			gap: 2rem;
		}
	}
}

@media screen and (max-width: 768px) {
	.benefits {
		&__list {
			grid-template-columns: 1fr 1fr;
		}
	}
}

@media screen and (max-width: 600px) {
	.benefits {
		padding: 6rem 0;
		&__title {
			margin-bottom: 3rem;
		}
		&__list {
			display: block;
		}
		&__item {
			@include mb(2rem);
			max-width: 100%;
		}
	}
}