.catalog {
	padding: 10rem 0 6.875rem;

	&__inner {
		display: grid;
		grid-template-columns: 82fr 50fr;
		gap: 90px;
	}

	&__title {
		margin-bottom: 2.5rem;
		text-transform: uppercase;
	}

	&__subtitle {
		font-size: 1.6875rem;
		margin-bottom: 2.5rem;
		line-height: 1.4;
		text-transform: uppercase;
		background-repeat: no-repeat;
		background-position: left top;
		padding-left: 5rem;
		background-size: 2.5625rem;
	}

	&__text {
		font-size: 1.25rem;
		text-transform: uppercase;
		margin-bottom: 5rem;
	}

	&__btn {
		margin-bottom: 5.625rem;
	}

	&__caption {
		font-style: italic;
	}
}

@media screen and (max-width: 1024px) {
	.catalog {
		padding: 5rem 0;
		&__text {
			margin-bottom: 2.5rem;
		}
		&__btn {
			margin-bottom: 3rem;
		}
		&__inner {
			display: block;
		}
		&__content {
			margin-bottom: 50px;
		}
	}
}