.citizenship {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 4.375rem 0;
  position: relative;

	&::after {
		position: absolute;
		content: "";
		top: 12px;
		left: 0;
		right: 0;
		bottom: 12px;
		border-top: 1px solid $white-color;
		border-bottom: 1px solid $white-color;
	}
	
  &::before {
    position: absolute;
    content: '';
    position: absolute;
    height: 100%;
    width: 56%;
    left: 0;
    top: 0;
    background: rgba(#171717, 0.8);
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 2;
  }

  &__left {
    max-width: 34.375rem;
    width: 100%;
    color: $white-color;
  }

  &__title {
    margin-bottom: 2.8125rem;
  }

  &__text {
		line-height: 1.3;
    @include mb(2.1875rem);

    strong {
      font-weight: 700;
    }

    p {
      @include mb(0.75rem);
    }
  }

  &__right {
    max-width: 30.9375rem;
		position: relative;
    width: 100%;
  }

  &__caption {
    font-size: 1.125rem;
    max-width: 22.5rem;
    margin-left: auto;
    text-align: right;
		margin-bottom: 6.25rem;
  }

  &__img {
		position: absolute;
		left: -14.875rem;
		top: 50%;
		transform: translateY(-50%);
		z-index: -1;
    img {
      width: 17.875rem;
    }
  }

  &__btn {
    display: inline-block;
    border: none;
    width: min-content;
    line-height: normal;
    background: linear-gradient(-45deg, #e0b59b 0%, #f9ddcb 100%);
    text-transform: uppercase;
    font-size: 1.75rem;
    transition: color $transition;
    position: relative;

    @include hover {
      &::before {
        inset: 0;
      }
      color: $red-color;
      .citizenship__btn-wrapper span {
        border-color: $red-color;
      }
    }

    &::before {
      position: absolute;
      content: '';
      inset: 0.4375rem;
      border: 3px solid $white-color;
      transition: $transition;
    }
  }

  &__btn-wrapper {
    display: block;
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%;
    padding: 1.75rem 3.75rem;
    &::after {
      content: '';
      position: absolute;
      top: -50%;
      right: -50%;
      bottom: -50%;
      left: -50%;
      background: linear-gradient(
        -45deg,
        #f7e8e3 0%,
        rgba($white-color, 30%) 100%
      );
      transform: rotateZ(-60deg) translate(0, -200%);
      animation: shine 4s ease forwards infinite;
    }
    span {
      display: block;
      transition: $transition;
      border-bottom: 1px solid $black-color;
    }
  }

  &__consult {
    font-size: 1.25rem;
    width: min-content;
    color: $white-color;
		position: relative;
		line-height: 1.1;
		padding-left: 4.375rem;
		padding: 1.875rem 0 0 4.375rem;
		margin-left: 5rem;

		&::before {
			position: absolute;
			content: "";
			width: 2.125rem;
			height: 2.625rem;
			left: 0;
			top: 0;
			animation: arrow-up 1.5s ease-in-out infinite;
			background: url('../img/arrow-up-icon.png') center / cover no-repeat;
		}
  }
}

@media screen and (max-width: 1024px) {
  .citizenship {
    &__right {
      max-width: 21rem;
    }
  }
}

@media screen and (max-width: 768px) {
  .citizenship {
    &::before {
      width: 100%;
    }
    &__right {
      position: static;
      max-width: 100%;
    }
    &__img {
      left: auto;
      top: 0;
      transform: none;
      right: 30px;
    }
    &__caption {
      color: $white-color;
      margin-right: auto;
      margin-left: 0;
      text-align: left;
      margin-bottom: 20px;
    }
    &__left {
      margin-bottom: 40px;
    }
    &__inner {
      padding-right: 21rem;
      position: relative;
      display: block;
    }
  }
}

@media screen and (max-width: 600px) {
  .citizenship {
    &__caption {
      margin-top: 14rem;
      font-size: 1rem;
    }
    &__img {
      bottom: 13.5rem;
      right: 0;
      top: auto;
      img {
        width: 14rem;
      }
    }
    &__right {
      padding-right: 16rem;
    }
    &__inner {
      padding-right: 0;
    }
  }
}