.footer {
  padding: 10rem 0 0;
  background: url("../img/divider-5.png") top center no-repeat,
    url("../img/footer-bg-2.png") right top 15rem no-repeat;

  &__col {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }

  &__head {
    padding-bottom: 5.625rem;
  }

  &__inner {
    @include grid(3, 5rem);
    align-items: center;
    margin-bottom: 6.25rem;
  }

  &__phone {
    margin-bottom: 1.25rem;
  }

  &__email {
    margin-bottom: 1.875rem;
  }

  &__socials {
    display: flex;
    align-items: center;
    margin-bottom: 1.875rem;
    li {
      @include mr(1.25rem);
    }
  }

  &__bottom {
    padding: 5rem 0 27.5rem;
    background-repeat: no-repeat;
    background-position: bottom;
  }

  &__address {
    font-size: 1.0625rem;
    padding-left: 2.1875rem;
    padding-bottom: 1.25rem;
    background-size: 1.1875rem 1.6875rem;
    background-repeat: no-repeat;
    background-position: top left;
    position: relative;
    &::before {
      position: absolute;
      content: "";
      height: 0.3125rem;
      max-width: 31.25rem;
      width: 100%;
      background-color: $accent-color;
      left: 0;
      bottom: 0;
    }
  }

  &__heart {
    display: block;
    position: absolute;
    width: 25px;
    height: 30px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1.5625rem 1.875rem;
    right: 0;
    top: -5px;
    animation: swim-sm 3s infinite linear;
  }
  
  &__bottom-line {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2.5rem;
    p {
      position: relative;
      font-size: 0.875rem;
      text-transform: uppercase;
      padding-right: 30px;
    }
    a {
      font-size: 1.125rem;
      border-bottom: 1px solid $black-color;
      transition: border-color $transition, color $transition;

      @include hover {
        border-color: transparent;
        color: $hover-color;
      }
    }
  }

  &__text {
    font-size: 0.875rem;
    color: #616161;
    max-width: 41.25rem;
    margin-left: auto;
  }
}

@media screen and (max-width: 1024px) {
  .footer {
    padding: 6rem 0 0;
    background: url("../img/divider-5.png") top center no-repeat;
    background-size: 150%;

    &__inner {
      display: flex;
      gap: 0;
      justify-content: center;
      flex-wrap: wrap;
      margin: -1.5625rem;
      padding-bottom: 40px;
    }

    &__col {
      margin: 1.5625rem;
      &:first-child {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .footer {
    background-size: 250%;
    &__bottom {
      padding: 4rem 0 10rem;
      background-size: contain;
    }
    &__bottom-line {
      flex-direction: column;
      align-items: flex-start;
      p {
        margin-bottom: 10px;
      }
    }
    &__col {
      &:nth-child(2) {
        order: 3;
      }
    }
  }
}
