.gallery {
	overflow: hidden;
	
	&__inner {
		display: flex;
	}
	
	&__line {
		display: flex;
		width: 100%;
		flex-shrink: 0;
		animation: move-left 22s linear infinite reverse;
	}

	&__item {
		width: 20%;
		flex-shrink: 0;
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		position: relative;
		height: 450px;
		background-color: $accent-color;
	}
}

@media screen and (max-width: 1280px) {
	.gallery {
		&__item {
			width: 25%;
			height: 400px;
		}
	}
}
@media screen and (max-width: 1024px) {
	.gallery {
		&__item {
			width: 33%;
			height: 300px;
		}
	}
}
@media screen and (max-width: 600px) {
	.gallery {
		&__item {
			height: 200px;
		}
	}
}