.help {
  padding: 20px 0 130px;

  &__inner {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    margin-bottom: 10px;
    padding-bottom: 28px;
    span {
      display: block;
    }
  }

  &__box {
    background-color: $accent-light-color;
    margin-bottom: 100px;
    padding: 35px 23px;
    p {
      @include mb(30px);
    }
    li {
      @include mb(24px);
    }
  }

  &__text {
    background-position: left center;
    background-repeat: no-repeat;
    background-size: 83px;
    padding-left: 90px;
    position: relative;
    max-width: 560px;
    width: 100%;
    text-transform: uppercase;
    font-size: 17px;
    line-height: 1.4;
    font-family: $font-tertiary;
    &::before {
      position: absolute;
      content: '';
      width: 110px;
      height: 80px;
      left: 0;
      bottom: 24px;
      z-index: -1;
      border: 2px solid $accent-color;
    }
  }

  &__left {
    padding-top: 15px;
  }

  &__right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    max-width: 610px;
    width: 100%;
    padding-top: 285px;
    background-position: top right;
    background-repeat: no-repeat;
  }

  &__objects {
    margin-bottom: 40px;
    max-width: 500px;
  }

  &__objects-value {
    display: inline-block;
    letter-spacing: 0.03em;
    font-size: 114px;
    line-height: 1.2;
    color: $accent-color;
    font-family: $font-tertiary;
    background-position: right center;
    background-repeat: no-repeat;
    padding-right: 240px;
    background-size: 227px;
    min-height: 97px;
  }

  &__objects-text {
    font-size: 23px;
    text-align: right;
    margin-bottom: 16px;
    line-height: 1.15;
  }

  &__objects-week {
    font-size: 23px;
    text-align: right;
    color: $accent-color;
  }

  &__btn {
    display: inline-block;
    max-width: 500px;
    width: 100%;
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    border: 1px solid $accent-color;
    transition: color $transition;

    @include hover {
      color: $red-color;
      .help__btn {
        &-inner {
          border-color: $red-color;
          &::before {
            transform: translateX(6px) translateY(-50%);
          }
          &::after {
            transform: translateX(-6px) translateY(-50%);
          }
        }
        &-wrapper {
          border-color: $accent-color;
        }
      }
    }

    &-wrapper {
      display: block;
      overflow: hidden;
      height: 100%;
      width: 100%;
      padding: 35px 100px;
      position: relative;
      border: 3px solid transparent;
      transition: border-color $transition;

      &::after {
        content: '';
        position: absolute;
        top: -50%;
        right: -50%;
        bottom: -50%;
        left: -50%;
        background: linear-gradient(
          -45deg,
          #f7e8e3 0%,
          rgba($white-color, 30%) 100%
        );
        transform: rotateZ(-60deg) translate(0, -200%);
        animation: shine 4s ease forwards infinite;
      }
    }

    &-inner {
      position: relative;
      border-bottom: 1px solid $accent-color;
      z-index: 2;
			transition: border-color $transition;

      &::after {
        position: absolute;
        content: '';
        right: -60px;
        top: 50%;
        transform: translateY(-50%);
        width: 41px;
        height: 33px;
        transition: transform $transition;
        background: url('../img/email-icon.png') center no-repeat;
      }
      &::before {
        position: absolute;
        content: '>';
        left: -30px;
        top: 50%;
        transform: translateY(-50%);
        transition: transform $transition;
        color: $red-color;
				animation: arrow-center 1.5s ease-in-out infinite;
      }
    }
  }
}
