.help {
  padding: 1.25rem 0 8.125rem;

  &__inner {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    margin-bottom: 0.625rem;
    padding-bottom: 1.75rem;
    span {
      display: block;
    }
  }

  &__box {
    background-color: $accent-light-color;
    margin-bottom: 6.25rem;
    padding: 2.1875rem 1.4375rem;
    p {
      @include mb(1.875rem);
    }
    li {
      @include mb(1.5rem);
    }
  }

  &__text {
    background-position: left center;
    background-repeat: no-repeat;
    background-size: 5.1875rem;
    padding-left: 5.625rem;
    position: relative;
    max-width: 35rem;
    width: 100%;
    text-transform: uppercase;
    font-size: 1.0625rem;
    line-height: 1.4;
    font-family: $font-tertiary;
    &::before {
      position: absolute;
      content: '';
      width: 6.875rem;
      height: 5rem;
      left: 0;
      bottom: 1.5rem;
      z-index: -1;
      border: 2px solid $accent-color;
    }
  }

  &__left {
    padding-top: 0.9375rem;
    margin-right: 40px;
  }

  &__right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    max-width: 38.125rem;
    width: 100%;
    padding-top: 17.8125rem;
    background-position: top right;
    background-repeat: no-repeat;
    background-size: 37.75rem 15.8125rem;
  }

  &__objects {
    margin-bottom: 2.5rem;
    max-width: 31.25rem;
  }

  &__objects-value {
    display: inline-block;
    letter-spacing: 0.03em;
    font-size: 7.125rem;
    line-height: 1.2;
    color: $accent-color;
    font-family: $font-tertiary;
    background-position: right center;
    background-repeat: no-repeat;
    padding-right: 15rem;
    background-size: 14.1875rem;
    min-height: 6.0625rem;
  }

  &__objects-text {
    font-size: 1.4375rem;
    text-align: right;
    margin-bottom: 1rem;
    line-height: 1.15;
  }

  &__objects-week {
    font-size: 1.4375rem;
    text-align: right;
    color: $accent-color;
  }

  &__btn {
    display: inline-block;
    max-width: 31.25rem;
    width: 100%;
    font-size: 1.875rem;
    text-align: center;
    text-transform: uppercase;
    border: 1px solid $accent-color;
    transition: color $transition;

    @include hover {
      color: $red-color;
      .help__btn {
        &-inner {
          border-color: $red-color;
          &::before {
            transform: translateX(0.375rem) translateY(-50%);
          }
          &::after {
            transform: translateX(-0.375rem) translateY(-50%);
          }
        }
        &-wrapper {
          border-color: $accent-color;
        }
      }
    }

    &-wrapper {
      display: block;
      overflow: hidden;
      height: 100%;
      width: 100%;
      padding: 2.1875rem 6.25rem;
      position: relative;
      border: 3px solid transparent;
      transition: border-color $transition;

      &::after {
        content: '';
        position: absolute;
        top: -50%;
        right: -50%;
        bottom: -50%;
        left: -50%;
        background: linear-gradient(
          -45deg,
          #f7e8e3 0%,
          rgba($white-color, 30%) 100%
        );
        transform: rotateZ(-60deg) translate(0, -200%);
        animation: shine 4s ease forwards infinite;
      }
    }

    &-inner {
      position: relative;
      border-bottom: 1px solid $accent-color;
      z-index: 2;
			transition: border-color $transition;

      &::after {
        position: absolute;
        content: '';
        right: -3.75rem;
        top: 50%;
        transform: translateY(-50%);
        width: 2.5625rem;
        height: 2.0625rem;
        transition: transform $transition;
        background: url('../img/email-icon.png') center / cover no-repeat;
      }
      &::before {
        position: absolute;
        content: '>';
        left: -1.875rem;
        top: 50%;
        transform: translateY(-50%);
        transition: transform $transition;
        color: $red-color;
				animation: arrow-center 1.5s ease-in-out infinite;
      }
    }
  }
}


@media screen and (max-width: 1024px) {
  .help {
    padding-bottom: 4rem;

    &__left {
      margin-bottom: 25px;
      margin-right: 0;
    }
    &__right {
      max-width: 400px;
      margin: 0 auto;
      align-items: center;
    }
    &__text {
      margin: 0 auto;
      max-width: 400px;
      padding-left: 4.625rem;
    }
    &__inner {
      display: block;
    }
    &__btn-wrapper {
      padding: 2rem 2.25rem;
    }
    &__objects {
      text-align: center;
    }
    &__objects-value {
      font-size: 6rem;
      padding-right: 10rem;
      background-size: 10rem;
    }
    &__box {
      margin-bottom: 4rem;
      li {
        @include mb(1rem);
      }
    }
  }
}