.online {
	padding: 1.875rem 0 8.75rem;

	&__inner {
		gap: 8.75rem;
		display: grid;
		grid-template-columns: 1.1fr 1fr;
	}

	&__img {
		padding-top: 1.875rem;
	}

	&__title {
		margin-bottom: 2.8125rem;
	}

	&__text {
		font-size: 1.125rem;
		line-height: 1.4;
		padding-right: 4.0625rem;
    margin-bottom: 3.75rem;
    letter-spacing: 0.04em;
	}

	&__text-green {
		color: #3aaa4f;
	}

	&__text-blue {
		color: #20a0e1;
	}

	&__list {
		font-size: 0.875rem;
		margin-bottom: 5.625rem;
		padding-left: 0.625rem;
    letter-spacing: 0.04em;

		li {
			@include mb(1.5rem);
			padding-left: 2.5rem;
			background: url('../img/chevron-right-icon.png') left center / 0.75rem no-repeat;
		}
	}

	&__btn {
		margin-left: 3.75rem;
	}

}

@media screen and (max-width: 1024px) {
	.online {
		padding: 1.75rem 0 6rem;
		&__inner {
			gap: 3rem;
		}
	}
}

@media screen and (max-width: 768px) {
	.online {
		&__title {
			margin-bottom: 2.5rem;
		}
		&__list {
			margin-bottom: 4.5rem;
		}
		&__text {
			margin-bottom: 3rem;
		}
		&__inner {
			display: flex;
			flex-direction: column-reverse;
		}

		&__img {
			max-width: 400px;
			margin: 0 auto;
		}
	}
}