.team {
	padding: 1.25rem 0 8.125rem;

  &__head {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding-right: 17.5rem;
		background: url('../img/team-decor.png') center right 1.875rem / 7.5rem no-repeat;
		margin-bottom: 11.25rem;
  }

  &__title {
		font-size: 1.25rem;
		line-height: 1.2;
		text-transform: uppercase;
		max-width: 43.75rem;
		margin-right: 1.5625rem;
  }

  &__btn {
		display: block;
		font-size: 1.875rem;
		width: min-content;
		text-decoration: underline;
		font-family: $font-secondary;
		line-height: 1.2;
  }

  &__list {
		@include grid(3, 6.25rem);
  }

  &__img {
    position: relative;
		display: flex;
		margin-bottom: 1.25rem;

		img {
			width: 100%;
			height: 38.125rem;
		}

		&::before {
			position: absolute;
			content: "";
			width: 80%;
			height: 80%;
			z-index: -1;
			border: 2px solid $accent-color;
		}

    &--1::before {
			top: -20px;
			right: -20px;
    }
    &--2::before {
			left: -20px;
			bottom: -10px;
			height: 70%;
			width: 99%;
    }
    &--3::before {
			left: -20px;
			top: -20px;
			height: 75%;
    }
  }

  &__name {
		font-size: 1.375rem;
		font-family: $font-secondary;
		line-height: 1.1;
  }

  &__position {
		font-size: 1.125rem;
		margin-bottom: 1.875rem;
  }

  &__languages {
		margin-bottom: 2.5rem;
  }

  &__phone {
		display: inline-flex;
		align-items: center;
		font-size: 1.125rem;
		text-decoration: underline;
		margin-bottom: 1.875rem;

		@include hover {
			.team__flag {
				transform: translateX(-5px);
			}
		}
  }

  &__flag {
		flex-shrink: 0;
		display: inline-block;
		margin-left: 0.625rem;
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		width: 1.75rem;
		height: 1.3125rem;
		transition: transform $transition;
  }

  &__socials {
		display: flex;
		align-items: center;
		li {
			@include mr(0.75rem);
			a {
				display: inline-block;
				padding-left: 1.5625rem;
				background-repeat: no-repeat;
				background-position: left center;
				background-size: 1.25rem;
				transition: transform $transition;
				@include hover {
					transform: scale(1.1);
				}
			}
		}
  }
}

@media screen and (max-width: 1024px) {
	.team {
		padding-bottom: 6rem;
		&__head {
			padding-right: 10rem;
		}
		&__list {
			gap: 4rem;
		}
		&__img img {
			height: 30rem;
		}
	}
}

@media screen and (max-width: 768px) {
	.team {
		&__head {
			display: block;
			margin-bottom: 4rem;
			padding-right: 0;
			background-position: right bottom;
		}
		&__btn {
			font-size: 1.5rem;
			margin-right: 100px;
		}
		&__title {
			margin-right: 0;
			margin-bottom: 25px;
		}
		&__list {
			max-width: 400px;
			margin: 0 auto;
			display: block;
		}
		&__item {
			@include mb(40px);
		}
		&__position {
			margin-bottom: 1rem;
		}
		&__languages {
			margin-bottom: 1.5rem;
		}
		&__img {
			padding: 6px;
			img {
				height: auto;
				object-position: top;
				max-height: 500px;
			}
			&::before {
				width: 100%;
				height: 100%;
				inset: 0;
			}
		}
	}
}