/* stylelint-disable scss/no-global-function-names */
.btn {
  display: inline-block;
  border: none;
  line-height: normal;
  font-family: $font-secondary;
  background: linear-gradient(-45deg, #fae8e1 0%, #f8d9cc 100%);
  text-transform: uppercase;
  font-size: 1.75rem;
  font-weight: 700;
  transition: background $transition;
  cursor: pointer;
  position: relative;

  &__inner {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%;
    padding: 1.5rem 2.5rem;
    z-index: 2;

    &::after {
      content: '';
      position: absolute;
      top: -50%;
      right: -50%;
      bottom: -50%;
      left: -50%;
      background: linear-gradient(
        -45deg,
        #f7e8e3 0%,
        rgba($white-color, 30%) 100%
      );
      transform: rotateZ(-60deg) translate(0, -200%);
      animation: shine 4s ease forwards infinite;
    }
  }

  &::before {
    position: absolute;
    content: '';
    left: -3.125rem;
    width: 4.5rem;
    height: 1.5rem;
    z-index: 2;
    top: 50%;
    transform: translateY(-50%);
    background: url('../img/arrow-2-icon.png') center / cover no-repeat;
    animation: arrow-center 1.5s ease-in-out infinite;
  }

  &::after {
    position: absolute;
    content: '';
    inset: -5px;
    border: 3px solid $accent-color;
    transition: $transition;
  }

  &__text {
    border-bottom: 1px solid $black-color;
    position: relative;
    z-index: 2;
    transition: border $transition;
  }

  &__caption {
    font-size: 1.25rem;
    font-weight: 400;
    position: relative;
    margin-left: 1.875rem;
    z-index: 2;
  }

  &:focus,
  &:active {
    background-color: darken($accent-color, 10%);
  }

  @include hover {
    color: $red-color;
    .btn__text {
      border-color: transparent;
    }
    &::after {
      inset: -10px;
    }
  }
}

.btn-small {
  font-size: 1.375rem;
  &__inner {
    padding: 1.25rem 4.0625rem 1.25rem 3.125rem;
  }
}

.consult-btn {
  display: inline-block;
  font-size: 1rem;
  text-transform: uppercase;
  padding: 0.9375rem 0.9375rem 0.9375rem 3.75rem;
  background: url('../img/btn-icon.png') center left 0.9375rem / 2rem no-repeat;
  border: 2px solid $accent-color;
  transition: background $transition;
  position: relative;
  overflow: hidden;

  &::after {
    content: '';
    position: absolute;
    top: -50%;
    right: -50%;
    bottom: -50%;
    left: -50%;
    background: $gradient;
    z-index: -1;
    transform: rotateZ(-60deg) translate(0, -200%);
    animation: shine 5s ease forwards infinite;
  }

  span {
    text-decoration: underline;
  }

  @include hover {
    background-color: #f1e7e3;
    background-position: center left 1.25rem;
    span {
      text-decoration: none;
    }
  }
}

@media screen and (max-width: 1024px) {
  .btn {
    font-size: 1.25rem;
    &::before {
      width: 36px;
      left: -2rem;
      height: 12px;
    }
    &__inner {
      padding: 1rem 2rem;
    }
    &__caption {
      font-size: 1rem;
      margin-left: 1rem;
    }
  }
}
