.page-wrapper {
  overflow: hidden;
}

.container {
  margin: 0 auto;
  padding: 0 var(--container-offset);
  max-width: var(--container-width);
}

.banner {
  display: block;
  max-width: 18.75rem;
  background: $gradient;
  padding: 1.75rem;
  position: relative;
  transition: transform $transition;

  @include hover {
    transform: scale(1.02);

    .banner {
      &__icon {
        animation: rotate 2s ease-in-out infinite;
      }
    }

  }
  
  &::before {
    position: absolute;
    content: '';
    inset: -6px;
    z-index: -1;
    border: 3px solid $accent-color;
  }

  &__title {
    line-height: 1;
    margin-bottom: 1.5625rem;
    font-family: $font-tertiary;
    &-first {
      font-size: 1.9375rem;
      border-bottom: 1px solid $black-color;
      display: inline-block;
    }
    &-second {
      font-size: 2.6875rem;
      font-weight: 700;
    }

    &-third {
      font-size: 2.1875rem;
    }
  }

  &__text {
    font-size: 1.0625rem;
    line-height: 1.4;
    font-family: $font-main;
    span {
      font-weight: 700;
      display: block;
    }
  }

  &__icon {
    position: absolute;
    right: -1.875rem;
    top: 0.5rem;
    transform: rotate(-5deg);
    img {
      width: 3.9375rem;
    }
  }

  &__arrow {
    position: absolute;
    right: 0.9375rem;
    bottom: 1.25rem;
    animation: arrow 2s ease-in-out infinite;
    img {
      width: 2.125rem;
    }
  }
}

.title {
  font-size: 1.6875rem;
  line-height: 1.2;
  position: relative;
  padding-bottom: 13px;
  letter-spacing: 0.12em;
  text-transform: uppercase;

  &::before {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    background-color: $accent-color;
    height: 5px;
    width: 31.25rem;
    max-width: 100%;
  }

  &__small {
    font-size: 1.25rem;
    line-height: 1.2;
    text-transform: none;
    letter-spacing: 0.08em;
  }
}
