.nav {
  text-transform: uppercase;
  font-family: $font-tertiary;
  font-weight: 700;
  font-size: 1.25rem;
  li {
    @include mb(1.375rem);
    background: url('../img/nav-bullet-icon.png') left center / 0.5rem 1rem
      no-repeat;
    padding-left: 1.5625rem;

    a {
      display: inline-block;
      border-bottom: 1px solid $black-color;
      transition: border $transition, color $transition;
    }

    @include hover {
      a {
        border-bottom-color: transparent;
        color: $red-color;
      }
    }
  }
}

.info-box {
  font-size: 1.5625rem;

  &__phone {
    transition: color $transition, border-color $transition;
    border-bottom: 1px solid transparent;
    @include hover {
      border-color: $red-color;
      color: $red-color;
    }
  }

  &__telegram,
  &__whatsapp {
    background-position: left center;
    background-repeat: no-repeat;
    background-size: 1.375rem;
    padding-left: 1.875rem;
  }

  &__email,
  &__telegram,
  &__whatsapp {
    font-weight: 300;
    font-family: $font-tertiary;
    display: inline-block;
    transition: color $transition;
    span {
      border-bottom: 1px solid $black-color;
      transition: border $transition;
    }

    @include hover {
      color: $red-color;
      span {
        border-color: transparent;
      }
    }
  }
}
